#hero-heading{
    font-size: 3.7rem;
    margin-top: 20px;
}
#hero-heading span{
    color:  #0a4db8;
    display: inline-block;
}

#hero-heading span::after{
    content:"";
    background-color: #ebf2fa;
    display: block;
    /* width: 100px; */
    height: 5px;
}

.cart-card{
    border:1px solid rgb(200, 200, 200);
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.cart-card:hover{
    border-color:rgb(33, 52, 255);
}

.cart-remove-btn{
    color: rgb(138, 138, 138);
    transition: all 0.1s ease-in;
}
.cart-remove-btn:hover{
    color:red;
}
