:root{
    --primary: #4E61D3;
    --secondary: #8b5cf6;
    --body-background: #FBFBFB;
    --background: "#f5f8fc";
    --surface: #E5E4E2;
    --shadow:#EEEEEE;
    --text: #25343F;;
    --border: #e5e7eb;
    --success: #10b981;
    --error: #ef4444;
}

body{
    background-color: var(--body-background);
    color:var(--text)
}

button:hover{
    opacity: 0.9;
}

#nav li a{
    color:var(--text) !important;
}

#nav li a:hover{
    color:var(--primary) !important;
}

#hero-heading{
    font-size: 3.7rem;
    margin-top: 20px;
}
#hero-heading span{
    color:  var(--primary);
    display: inline-block;
}

#hero-heading span::after{
    content:"";
    background-color: var(--background);
    display: block;
    /* width: 100px; */
    height: 5px;
}

.cart-card{
    border:1px solid var(--border);
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.cart-card:hover{
    border-color:var(--primary);
}

.cart-remove-btn{
    color: var(--textLight);
    transition: all 0.1s ease-in;
}
.cart-remove-btn:hover{
    color:var(--error);
}
.featured-product ,.card{
    transition: all 0.4s ease-in;
}
.featured-product:hover,.card:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.featured-product:hover  .bi-heart,.featured-product:hover  .bi-eye,.featured-product:hover .bi-arrow-left-right{
    display: block;
}
.bi-heart,.bi-eye,.bi-arrow-left-right{
    display: none;
    background-color: var(--body-background);
    color:var(--text);
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.bi-heart:hover,.bi-eye:hover,.bi-arrow-left-right:hover{
    background-color: var(--primary);
    color:white;
    transform: scale(1.3);
}
#popup-btns{
    display: none;
}
.card:hover #popup-btns{
    display: block;
}